@model IEnumerable<ParksWeb.Controllers.SignatureStruct>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.7.min.js"></script>
    <script>
        var client = new WindowsAzure.MobileServiceClient(
    "https://ionicpark.azure-mobile.net/",
    "hxtGdDqLAfycBxPracCdyWJqguvxXb89"
);

        var item = { text: "Awesome 項目" };
        client.getTable("Item").insert(item);

    </script>
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Favorates)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Favorates)
            </td>
            <td>
                <img src="@item.ImageSrc" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
